/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Background */
body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #d5c9d3;
  min-height: 100vh;

}

/* Navigation */
header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: #d5c9d3;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
  color: #d5c9d3;
  transform: scale(1.1);
}

/* Hero*/
.hero {
  text-align: center;
  padding: 100px 20px 60px;
  background: linear-gradient(to right, rgba(255, 204, 112, 0.1), rgba(255, 112, 112, 0.1));
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.hero h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  font-family: "Momo Signature", cursive;
}

/* Section */
.section-content {
  padding: 50px 10%;
  text-align: center;
}

.section-content h2 {
  font-size: 2rem;
  color: #d5c9d3;
  margin-bottom: 15px;
}

.section-content p {
  font-size: 18px;
  color: #d5c9d3;
  margin-bottom: 40px;
}

.social{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Social Icon */
.gallery-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1em;
  font-size: 40px;
}

.gallery-grid a{
  text-decoration: none;
  line-height: 0;
}

.gallery-grid a i{
  border-radius: 20%;
  color: #d5c9d3;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: flex;
}

.fa-facebook{
  text-decoration: none;
  background: linear-gradient(
    to right, 
    #353279, 
    #2b4989, 
    #3f7cbd  

  )
  
}

.fa-instagram{
   background: #833ab4;
  background: linear-gradient(
    to right, 
    #833ab4, 
    #fd1d1d, 
    #fcb045  

  )

}
.fa-tiktok{
  text-decoration: none;
  background: linear-gradient(
    to right, 
    #000000, 
    #232323,
    #242423

  )
  
}

.gallery-grid a img:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 30px rgba(255, 204, 112, 0.4);
  background: rgba(255, 204, 112, 0.1);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #d5c9d3;
  font-size: 14px;
  letter-spacing: 1px;
  border-top: 1px solid rgba(255,255,255,0.1);
  margin-top: 50px;
}